@model List<Category>

    <a asp-controller="Category" asp-action="Create">Create page</a>
  
<h2> Category list </h2>


<table>

    <thead>

        <tr>
            <th>Name</th>
            <th> Display order</th>
        </tr>

    </thead>
    
</table>